.container-home {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.control {
  width: 100%;
  color: #007bff;
  border-color: #007bff;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8vw;
  padding: 0;
  font-weight: bold;
}

.control p {
  margin-bottom: 0;
}

.kvm {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.matrix-card {
  width: 100%;
  margin-top: 10px;
  height: auto;
  text-align: center;
}

.matrix-card .card-body {
  padding-top: 0.75rem;
}

.matrix-card .col-3 {
  padding-left: 1vw;
  padding-right: 1vw;
}

.matrix-card p {
  font-weight: bold;
}

.matrix-card button {
  font-size: 0.8vw;
  padding: 0;
  font-weight: bold;
}

.matrix-card .control {
  margin-top: 0.2rem;
}

.matrix-card .kvm {
  margin-top: 0;
}

.matrix-card img {
  width: 2vw;
}

.profile-card {
  width: 100%;
  margin-top: 10px;
  height: auto;
}

.card-title {
  font-size: 2vh;
  margin-bottom: 0.2rem;
}

.profile-card button {
  width: 100%;
  font-size: 0.8vw;
  margin-top: 1%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-card h5 {
  width: 100%;
  margin-top: 1%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .profile-card h5 {
    font-size: 2vw;
    margin-top: 1%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.main .form-group {
  margin-bottom: 0.1rem;
}

table tr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
  text-align: center;
}

select option {
  font-size: 0.5rem;
}
