<div
  class="modal fade"
  id="profileCreate"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">프로파일 추가</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'profile' %}" id="profileCreateForm">
        {% csrf_token %}
        <input type="hidden" id="mat_id_list" name="mat_id_list" />
        <input type="hidden" id="input_1" name="input_a" />
        <input type="hidden" id="input_2" name="input_b" />
        <input type="hidden" id="input_3" name="input_c" />
        <input type="hidden" id="input_4" name="input_d" />
        <input type="hidden" id="input_5" name="input_e" />
        <input type="hidden" id="input_6" name="input_f" />
        <input type="hidden" id="input_7" name="input_g" />
        <input type="hidden" id="input_8" name="input_h" />
        <input type="hidden" id="input_kvm" name="input_kvm" />
        <div class="modal-body">
          <div class="form-group">
            <label for="inputName">프로파일명</label>
            <input hidden="hidden" />
            <input
              type="text"
              class="form-control"
              id="inputName"
              name="name"
              placeholder="Enter name"
              value="{{ form.name.value|default_if_none:'' }}"
              required
            />
            <div id="name-feedback" class="invalid-feedback">이름을 입력해주세요.</div>
          </div>
          {% load filter_tags %}
          {% if main %}{% for m in main %}<h5>{{m.name}}</h5>
          <input type="hidden" name="mat_id" value="{{m.id}}" />
          <div class="form-row">
            {% for i in 1|range_tag:5 %}
            <div class="form-group col-md-3">
              <label for="inputState">{{connect_list|list_index:i}}</label>
              <select id="inputState" class="form-control" name="{{i}}">
                {% for j in 1|range_tag:7 %}
                <option {% if i == j %}selected{% endif %} value="0{{j}}">{% if j < 7 %}{{connect_list|list_index:j}}{% else %}입력0{{j}}{% endif %}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>
          <div class="form-row">
            {% for i in 5|range_tag:9 %}
            <div class="form-group col-md-3">
              <label for="inputState">{{connect_list|list_index:i}}</label>
              <select id="inputState" class="form-control" name="{{i}}" {% if i > 6 %}disabled{% endif %}>
                {% for j in 1|range_tag:7 %}
                <option {% if i == j %}selected{% endif %} value="0{{j}}">{% if j < 7 %}{{connect_list|list_index:j}}{% else %}입력0{{j}}{% endif %}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputKvm">USB</label>
              <select id="inputKvm" class="form-control" name="inputKvm">
                {% for j in 1|range_tag:22 %}
                <option {% if j == 1 %}selected{% endif %} value="0{{j}}">{{connect_list|kvm_index:j}}</option>
                {% endfor %}
              </select>
            </div>
          </div>{% endfor %}{% endif %} 

          {% if matrix %} {% for mat in matrix %}
          <h5>{{mat.name}}</h5>
          <input type="hidden" name="mat_id" value="{{mat.id}}" />
          <div class="form-row">
            {% for i in 1|range_tag:5 %}
            <div class="form-group col-md-3">
              <label for="inputState">{{mat.main_connect|group_index:i}}</label>
              <select id="inputState" class="form-control" name="{{i}}">
                {% for j in 1|range_tag:8 %}
                <option {% if i == j %}selected{% endif %} value="0{{j}}">{{mat.main_connect|group_index:j}}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>
          <div class="form-row">
            {% for i in 5|range_tag:9 %}
            <div class="form-group col-md-3">
              <label for="inputState">{{mat.main_connect|group_index:i}}</label>
              <select id="inputState" class="form-control" name="{{i}}" {% if i > 7 %}disabled{% endif %}>
                {% for j in 1|range_tag:8 %}
                <option {% if i == j %}selected{% endif %} value="0{{j}}">{{mat.main_connect|group_index:j}}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputKvm">USB</label>
              <select id="inputKvm" class="form-control" name="inputKvm">
                {% for j in 1|range_tag:8 %}
                <option {% if j == 1 %}selected{% endif %} value="0{{j}}">{{mat.main_connect|group_index:j}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endfor %} {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" onClick="profileCreate()" class="btn btn-primary">생성</button>
        </div>
      </form>
    </div>
  </div>
</div>