<div
  class="modal fade"
  id="matrixDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">시스템를 삭제하시겠습니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="matrixDeleteForm" method="post" action="{% url 'matrix_detail' %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" id="deleteId" name="id" />
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-danger">삭제</button>
        </div>
      </form>
    </div>
  </div>
</div>
