<div
  class="modal fade"
  id="matrixImport"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">파일 선택</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="matrixImportForm" method="post" action="{% url 'matrix_import' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <input class="form-control" type="file" id="formFile" name="matrix_file" style="height: auto" />
          <div id="file-feedback" class="invalid-feedback"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-modal-secondary" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-modal-primary" onClick="matrixImport()">불러오기</button>
        </div>
      </form>
    </div>
  </div>
</div>
